<!-- nikki/templates/nikki/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日記投稿</title>
    <style>
        /*背景*/
        body {
            background-color: rgb(195, 242, 226);
        }

        #fixed {
            top: 0;
            left: 0;
            text-align: center;
            margin: 0;
            width: 100%;
            background: #0ca6d0;
            color: white;
            box-shadow: 0 0 15px gray;
        }
        p {
            font-size: 30px;
        }
    </style>
</head>
<body>
    <h1>日記を投稿する</h1>

    <h4>必ず訪れた寺の名前を含めてください</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">投稿</button>
    </form>
    
    <h3>※投稿した内容は削除できません</h3>
</body>
</html>
